In [1]:
!pip install beautifulsoup4
from bs4 import BeautifulSoup as bs

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [2]:
import  requests
from  bs4 import BeautifulSoup

url = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(url.text, 'html.parser')
story = soup.find_all(['h1', 'h2','h3'])
for i in story:
    print(i)

<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>
<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>
<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>
<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>
<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>
<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>
<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>
<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>
<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>
<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>
<h2>Navigation menu</h2>
<h3 id="p-personal-label">
<span>Personal tools</span>
</h3>
<h3 id="p-namespaces-label">
<span>Namespaces</span>
</h3>
<h3 id="p-variants-label">
<span>Variants</span>
</h3>
<h3 id="p-views-label">
<span>Views</span>
</h3>
<h3 id="p-cactions-label">
<span>More</span>
</h3>
<h3>
<label for="searchInput">Search</label>
</h3>
<h3 id="p-navigation-label">
<span>Navigation</span>
</h3>
<h3 id="p-interaction-label">
<span>Contribute</span>
</h3>
<h3 id="p-tb-label">
<span>Tools</span>
</h3>
<h3 id="p-coll-print_export-label">
<span>Print/export</span>
</h3>
<h3 id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>
<h3 id="p-lang-label">
<span>Languages</span>
</h3>

In [3]:
#IMDB TOP 100 Movies
# Creating the lists we want to write into
titles = []
years = []
imdb_ratings = []

In [4]:
# Getting English translated titles from the movies
headers = {'Accept-Language': 'en-US, en;q=0.5'}

In [5]:
import numpy as np
 
pages = np.arange(1, 100, 20)
pages

array([ 1, 21, 41, 61, 81])

In [6]:
# Storing each of the urls of 50 movies 
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.imdb.com/search/title/?groups=top_100&start=' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
 
# Aiming the part of the html we want to get the information from
    movie_div = soup.find_all('div', class_='lister-item mode-advanced')

In [7]:
for container in movie_div:
# Scraping the movie's name
        name = container.h3.a.text
        titles.append(name)

# Scraping the movie's year
        year = container.h3.find('span', class_='lister-item-year').text
        years.append(year)
 
# Scraping the rating
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)

In [15]:
import pandas as pd
movies = pd.DataFrame({'movie':titles,
                       'year':years,
                       'imdb_rating':imdb_ratings,})
 
movies.head()

                                               movie    year  imdb_rating
0  Dr. Strangelove or: How I Learned to Stop Worr...  (1964)          8.4
1                                        Rear Window  (1954)          8.4
2                                           3 Idiots  (2009)          8.4
3                                            Amadeus  (1984)          8.3
4                             Grave of the Fireflies  (1988)          8.5

In [16]:
movies.to_csv('movies.csv')

In [17]:
#IMDB TOP 100 Indian Movies
# Creating the lists we want to write into
titles = []
years = []
imdb_ratings = []

In [18]:
# Storing each of the urls of 50 movies 
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.imdb.com/list/ls056092300/' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
 
# Aiming the part of the html we want to get the information from
    movie_div = soup.find_all('div', class_='article')

In [19]:
for container in movie_div:
# Scraping the movie's name
        name = container.h3.a.text
        titles.append(name)

# Scraping the movie's year
        year = container.h3.find('span', class_='secondaryInfo').text
        years.append(year)
 
# Scraping the rating
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)

In [20]:
movies = pd.DataFrame({'movie':titles,
                       'year':years,
                       'imdb_rating':imdb_ratings,})

movies.head()

Empty DataFrame
Columns: [movie, year, imdb_rating]
Index: []

In [21]:
#scrap book
# Creating the lists we want to write into
name = []
Authorname = []
genre = []
bookreview = []

In [22]:
# Storing each of the urls of 50 BOOKS 
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://bookpage.com/' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
 
# Aiming the part of the html we want to get the information from
    book_div = soup.find_all('div', class_='lister-item mode-advanced')

In [23]:
for container in name:
# Scraping the book name
        name = container.h3.a.text
        titles.append(name)

# Scraping the author name
        author = container.h3.find('span', class_='lister-item-year').text
        author.append(year)
 
# Scraping the genre
        genre = float(container.strong.text)
        genre.append(genre)

#Scraping the book Review
        book = float(container.strong.text)
        book.append(genre)

In [24]:
book = pd.DataFrame({'book':name,
                       'author':name,
                       'genre':genre,
                      'bookreview':bookreview,})

book.head()

Empty DataFrame
Columns: [book, author, genre, bookreview]
Index: []

In [25]:
#Top 10 ODI Team
# Creating the lists we want to write into
match= []
point = []
rating = []

In [26]:
# Top 10 ODI teams in men’s cricket along with the records for matches, points and rating
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.icc-cricket.com/' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
 
# Aiming the part of the html we want to get the information from
    ODI_div = soup.find_all('div', class_='lister-item mode-advanced')

In [27]:
for container in match:
# TOP 10 ODI match
        match = container.h3.a.text
        match.append(match)

# TOP 10 ODI rating
        rating = container.h3.find('span', class_='lister-item-year').text
        rating.append(rating)
 
#TOP 10 ODI point
        point = float(container.strong.text)
        point.append(point)

In [28]:
ODI = pd.DataFrame({'match':match,
                       'rating':rating,
                       'point':point,})
ODI.head()

Empty DataFrame
Columns: [match, rating, point]
Index: []

In [33]:
#Top 10 ODI Batsmen
# Creating the lists we want to write into
batsmen= []
team = []
rating = []

In [34]:
# Top 10 ODI batsmen in men’s cricket along with the records of teams and rating
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.icc-cricket.com/' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
 
# Aiming the part of the html we want to get the information from
    ODI_div = soup.find_all('div', class_='lister-item mode-advanced')

In [35]:
for container in batsmen:
# TOP 10 ODI batsmen
        batsmen = container.h3.a.text
        batsmen.append(batsmen)

# TOP 10 ODI team
        team = container.h3.find('span', class_='lister-item-year').text
        team.append(team)
 
#TOP 10 ODI rating
        rating= float(container.strong.text)
        rating.append(rating)

In [36]:
ODI = pd.DataFrame({'batsmen':match,
                       'team':rating,
                       'rating':point,})
ODI.head()

Empty DataFrame
Columns: [batsmen, team, rating]
Index: []

In [37]:
#Top 10 ODI bowler
# Creating the lists we want to write into
bowler= []
team = []
rating = []

In [38]:
# Top 10 ODI bowler in men’s cricket along with the records of teams and rating
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.icc-cricket.com/' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
 
# Aiming the part of the html we want to get the information from
    ODI_div = soup.find_all('div', class_='lister-item mode-advanced')

In [39]:
for container in bowler:
# TOP 10 ODI bolwer
        bowler = container.h3.a.text
        bowler.append(bowler)

# TOP 10 ODI team
        team = container.h3.find('span', class_='lister-item-year').text
        team.append(team)
 
#TOP 10 ODI rating
        rating= float(container.strong.text)
        rating.append(rating)

In [40]:
ODI = pd.DataFrame({'bowler':match,
                       'team':rating,
                       'rating':point,})
ODI.head()

Empty DataFrame
Columns: [bowler, team, rating]
Index: []

In [41]:
#Top 10 ODI women Team
# Creating the lists we want to write into
match= []
point = []
rating = []

In [42]:
# Top 10 ODI women teams in men’s cricket along with the records for matches, points and rating
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.icc-cricket.com/' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
 
# Aiming the part of the html we want to get the information from
    ODI_div = soup.find_all('div', class_='lister-item mode-advanced')

In [43]:
for container in match:
# TOP 10 ODI match
        match = container.h3.a.text
        match.append(match)

# TOP 10 ODI rating
        rating = container.h3.find('span', class_='lister-item-year').text
        rating.append(rating)
 
#TOP 10 ODI point
        point = float(container.strong.text)
        point.append(point)

In [44]:
ODI = pd.DataFrame({'match':match,
                       'rating':rating,
                       'point':point,})
ODI.head()

Empty DataFrame
Columns: [match, rating, point]
Index: []

In [45]:
#Top 10 ODI women player
# Creating the lists we want to write into
player= []
team = []
rating = []

In [46]:
# Top 10 women’s ODI players along with the records of their team and rating.
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.icc-cricket.com/' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
 
# Aiming the part of the html we want to get the information from
    ODI_div = soup.find_all('div', class_='lister-item mode-advanced')

In [47]:
for container in player:
# TOP 10 ODI batsmen
        player = container.h3.a.text
        player.append(batsmen)

# TOP 10 ODI team
        team = container.h3.find('span', class_='lister-item-year').text
        team.append(team)
 
#TOP 10 ODI rating
        rating= float(container.strong.text)
        rating.append(rating)

In [48]:
ODI = pd.DataFrame({'player':match,
                       'team':rating,
                       'rating':point,})
ODI.head()

Empty DataFrame
Columns: [player, team, rating]
Index: []

In [50]:
#Top 10 women’s ODI allrounder along with the records of their team and rating.
# Creating the lists we want to write into
allrounder= []
team = []
rating = []

In [51]:
#Top 10 women’s ODI allrounder along with the records of their team and rating.
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.icc-cricket.com/' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
 
# Aiming the part of the html we want to get the information from
    ODI_div = soup.find_all('div', class_='lister-item mode-advanced')

In [52]:
for container in allrounder:
# TOP 10 ODI allrounder
        allrounder = container.h3.a.text
        allrounder.append(bowler)

# TOP 10 ODI team
        team = container.h3.find('span', class_='lister-item-year').text
        team.append(team)
 
#TOP 10 ODI rating
        rating= float(container.strong.text)
        rating.append(rating)

In [53]:
ODI = pd.DataFrame({'allrounder':match,
                       'team':rating,
                       'rating':point,})
ODI.head()

Empty DataFrame
Columns: [allrounder, team, rating]
Index: []

In [64]:
#mobile phones under Rs. 20,000 listed on Amazon.in.
# Creating the lists we want to write into
productname= []
price = []
imageURL = []
averagerating = []

In [65]:
#mobile phones under Rs. 20,000 listed on Amazon.in.
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.google.com/aclk?sa=L&ai=DChcSEwiX6e2anpTuAhUi7-0KHVjWAUIYABAAGgJkZw&ae=2&sig=AOD64_2uIGIM-Us20nKZu4bKBJ_32D-9qQ&q&adurl&ved=2ahUKEwjQ7uKanpTuAhUHmhQKHSKbB58Q0Qx6BAgNEAE' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
 
# Aiming the part of the html we want to get the information from
    ODI_div = soup.find_all('div', class_='lister-item mode-advanced')

In [67]:
for container in productname:
# productname
        productname = container.h3.a.text
        productname.append(productname)

#  price
        price = container.h3.find('span', class_='lister-item-year').text
        price.append(price)
 
#imageURL
        imageURL= float(container.strong.text)
        imageURL.append(imageURL)

#averagerating
        averagerating= float(container.strong.text)
        averagerating.append(averagerating)

In [68]:
amazon = pd.DataFrame({'productname':productname,
                       'price':price,
                       'imageURL':imageURL,
                       'averagerating':averagerating,})
amazon.head()

Empty DataFrame
Columns: [productname, price, imageURL, averagerating]
Index: []

In [70]:
#National Weather Service 
# Creating the lists we want to write into
period= []
shortdescription = []
temperature = []
description = []

In [71]:
#National Weather Service
for page in pages:
    # Getting the contents from the each url
    page = requests.get('https://www.weather.gov/' + str(page) + '&ref_=adv_nxt', headers=headers)
    soup = BeautifulSoup(page.text, 'html.parser')
 
# Aiming the part of the html we want to get the information from
    ODI_div = soup.find_all('div', class_='lister-item mode-advanced')

In [72]:
for container in period:
# period
        period = container.h3.a.text
        period.append(period)

#  short description
        shortdescription = container.h3.find('span', class_='lister-item-year').text
        shortdescription.append(shortdescription)
 
#temperature
        temperature= float(container.strong.text)
        temperature.append(temperature)

#description
        description= float(container.strong.text)
        description.append(description)

In [74]:
NationalWeatherService = pd.DataFrame({'period':period,
                       'shortdescription':shortdescription,
                       'temperature':temperature,
                       'description':description,})
NationalWeatherService.head()

Empty DataFrame
Columns: [period, shortdescription, temperature, description]
Index: []